html	{
	height: 100%;
}

body	{
	background: url(img/logo.jpeg);
	background-size: cover;
	background-position: center;
	font-family: Lato;
}

#contents	{
	text-align: center;
	padding-top: 50%;
	position: relative;
	
}

h1, h3	{
	color: white;
}

h1	{
	font-weight: 700;
	font-size: 5em;
}

hr	{
	width: 400px;
	border: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}