html	{
	height: 100%;
}

body	{
	background: url(img/logobackground.jpeg);
	background-size: cover;
	background-position: center;
	font-family: Lato;
}

html, body{
	height: 100%;
	font-weight: 800;
  }
  
  svg {
	  display: block;
	  font: 9.8em 'Montserrat';
	  width: 100%;
	  height: 50%;
	  margin: 0 auto;
  }
  
  .text-copy {
	  fill: none;
	  stroke: white;
	  stroke-dasharray: 7% 29%;
	  stroke-width: 7.5px;
	  stroke-dashoffset: 0%;
	  animation: stroke-offset 2.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
	  stroke: #24f7f6 ;
	  animation-delay: -0.3;
  }
  
  .text-copy:nth-child(2){
	  stroke: #ff0000;
	  animation-delay: -0.6s;
  }
  
  .text-copy:nth-child(3){
	  stroke: #fff;
	  animation-delay: -0.9s;
  }
  
  .text-copy:nth-child(4){
	  stroke: #24f7f6;
	  animation-delay: -1.2s;
  }
  
  .text-copy:nth-child(5){
	  stroke: #ff0000 ;
	  animation-delay: -1.5s;
  }
  
  @keyframes stroke-offset{
	  100% {stroke-dashoffset: -35%;}
  }

#contents	{
	text-align: center;
	padding-top: 50%;
	position: relative;

	
}

#glow {
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
	from {
	  text-shadow: 0 0 30px #ff0000;
	}
	to {
	  text-shadow:  0 0 30px #24f7f6;
	}
  }

  button {
	margin: 2em auto;
	display: block;
	-webkit-appearance: none;
	border: 6px solid rgba(255,255,255,0.45);
	border-radius: 50px;
	padding: 1em 3em;
	background-repeat: no-repeat;
	background-size: 100%;
	background-clip: padding-box;
	position: relative;
	color: #FFF;
	margin-top: 20%;
	font-family: Lato;
	font-weight: 600;
  }
  
  #get_started {
	background-image: linear-gradient(90deg, #6fffff, #ff9494);
  }
